.sidebar {
    margin-left: 25.5px;
      display: flex;
      flex-direction: column;
      justify-content: left;
      flex-wrap: wrap;
    border-left: #0070ad 1px solid;
      width: 23vw;
      font-family: raleway;
      background: white;
      
    }
    
    .item {
     
      font-size: 14px;
      border-bottom: 1px solid #0070ad;
      text-align: left;
      padding:6px;
      
      
    }
    .item a{
      color: #0070ad;
      text-decoration: none;
      font-weight: bold;
    }
    
    
    .main_head{
      background-color:#ebf4f8;
      font-size: 25px;
      color: #0070ad;
      font-weight: 700;
      padding: 3px;
      /* border-top: 1px solid #0070ad; */
      border-bottom: 1px solid #0070ad;

    }
  